<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form', autocomplete: "off") do |f| %>
    <div class="panel panel-primary">
      <div class="panel-heading text-center panel-success">
        <h4><%= t('users.sign_in') %></h4>
      </div>

      <div class="panel-body">
        <div class="field">
          <%= f.label :email, t('users.email') %><br/>
          <%= f.email_field :email, placeholder: t('users.email'), class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password, t('users.password') %><br/>
          <%= f.password_field :password, placeholder: t('users.password'), class: 'form-control', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, t('users.remember_me') %>
          </div>
        <% end %>
      </div>


      <div class="panel-footer">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <%= f.submit t('users.sign_in'), class: 'btn btn-success' %>
        </ul>

        <%= render "users/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
